/*Estilos del Nav*/
.logo {
    width: 60%;
}

.nav-style {
    background-color: #d3b899;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.nav-right {
    justify-content: right;
}

.nav-space {
    padding-right: 5%;
}

.item-space {
    margin-left: 20px;
}


/*Página Inicio*/

body {
    background-color: #f6e7d6;
}

.font {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 30px;
}

.pagina-inicio {
    margin-top: 30px;
}

.tipos {
    height: 300px; 
}

.productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.links {
 display: flex;
 font-size: 20px;
 justify-content: center;
 text-decoration: none;
 color: black;
}

.links:hover {
    color: rgb(252, 135, 40);
}




























/*Estilos del footer*/
footer {
    background-color: #b89465;
    margin-top: 5%;

}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo-footer {
    height: 100px;
}

.footer-ul {
    
}

.footer-li {
    list-style-type: none;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
}

.menu-footer {
    color: black;
    text-decoration: none;
}

.menu-footer:hover {
    color: orangered;
    margin-left: 5px;
}


.links-footer {
    color: black;
    background-color: lightpink;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.links-footer:hover {
    color: white;
    background-color: rgb(97, 97, 97);
}

.iconos-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon-style {
    padding: 10px;
    font-size: 20px;
    background-color: red;
    border-radius: 50%;
}