/*Estilos del Nav*/
.logo {
    width: 60%;
}

.nav-style {
    background-color: #d3b899;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.nav-right {
    justify-content: right;
}

.nav-space {
    padding-right: 5%;
}

.item-space {
    margin-left: 20px;
}


/*Página Inicio*/

body {
    background-color: #f6e7d6;
}

.font {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    margin-top: 30px;
}

.pagina-inicio {
    margin-top: 30px;
}

.tipos {
    height: 300px; 
}

.productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.links {
 display: flex;
 font-size: 20px;
 justify-content: center;
 text-decoration: none;
 color: black;
}

.links:hover {
    color: rgb(252, 135, 40);
}


/*Página Tienda*/

.tienda-bienvenidos {
    display: flex;
    justify-content: center;
}

.tienda-bienvenidos h3 {
    font-size: 32px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tienda-clases {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.tienda-productos {
    margin-right: 15px;
    margin-left: 15px;
}

.tienda-productos img {
    height: 300px;
}

.tienda-productos h5 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.tienda-titulos {
    margin-left: 20px;
    margin-bottom: 20px;
}


/*Página Cursos*/

.cursos-portada {
    width: 100%;
}

.grid-container {
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "cursos cursos"
    "curso1 curso2"
    "detalles1 detalles2";
}

.cursos {
    grid-area: cursos;
}

.cursos h3 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

.curso-uno {
    grid-area: curso1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.curso-dos {
    grid-area: curso2;
    display: flex;
    align-content: center;
    justify-content: center;
}

.detalles-uno {
    grid-area: detalles1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.detalles-dos {
    grid-area: detalles2;
    display: flex;
    align-content: center;
    justify-content: center;
}

.curso-img {
    height: 300px;
}


/*Página Contacto*/

.contacto-portada {
    width: 100%;
}

.contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    margin-top: 20px;
    color: black;
}

.contacto-icons {
    color: #684f2f;
    background-color: #d3b899;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 15px;
}

.contacto-icons:hover {
    color: #d3b899;
    background-color: #684f2f;
}

.contacto-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.contacto-general h5 {
    margin-right: 15px;
}

.contacto-redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
}


/*Página Ubicación*/

.ubicacion-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.ubicacion-elementos {
    display: flex;
    margin-top: 20px;
}

.ubicacion-iconos {
    margin-right: 20px;
    font-size: 30px;
    color: #522f02;
}


/*Estilos del footer*/
footer {
    background-color: #b89465;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 1%;

}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo-footer {
    height: 100px;
}


.footer-li {
    list-style-type: none;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
}

.menu-footer {
    color: black;
    text-decoration: none;
}

.menu-footer:hover {
    color: #522f02;
    margin-left: 5px;
}

.links-footer {
    color: black;
    background-color: lightpink;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.links-footer:hover {
    color: white;
    background-color: rgb(97, 97, 97);
}

.iconos-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon-style {
    padding: 10px;
    font-size: 20px;
    background-color: #d3b899;
    border-radius: 50%;
    color: #684f2f;
}

.icon-style:hover {
    color: #d3b899;
    background-color: #684f2f;
}




/*Media queries*/

/*Media queries Inicio*/

@media only screen and (min-width: 600px) {
    .inicio-img {
        margin-right: 15px;
        margin-left: 15px;
    }
}


/*Media queries Tienda*/

@media only screen and (min-width: 601px) and (max-width: 1025px) {
    .tienda-productos {
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
    .tienda-productos {
        margin-right: 30px;
        margin-left: 30px;
    }

    .tienda-productos h5 {
        font-size: 18px;
    }

    .tienda-bienvenidos h3 {
        font-size: 28px;
    }

    .tienda-titulos h4 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 431px) and (max-width: 500px) {
    .tienda-productos {
        margin-right: 30px;
        margin-left: 30px;
    }

    .tienda-productos h5 {
        font-size: 18px;
    }

    .tienda-bienvenidos h3 {
        font-size: 25px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .tienda-titulos h4 {
        font-size: 18px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 430px) {
    .tienda-productos {
        margin-right: 30px;
        margin-left: 30px;
    }

    .tienda-productos h5 {
        font-size: 16px;
    }

    .tienda-bienvenidos h3 {
        font-size: 25px;
        margin-right: 60px;
        margin-left: 80px;
    }

    .tienda-titulos h4 {
        font-size: 18px;
        margin-left: 5px;
    }
}


/*Media queries Cursos*/

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 200px 50px 200px 50px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";
    }

    .cursos h3 {
        font-size: 20px;
        width: 100%;
        margin-top: 20px;
        
    }
    
    .curso-img {
        height: 190px;
    }

    .detalles-style {
        font-size: 15px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 260px 50px 260px 50px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";
    }

    .cursos h3 {
        font-size: 25px;
        width: 100%;
        margin-top: 20px;
    }
    
    .curso-img {
        height: 230px;
    }

    .detalles-style {
        font-size: 18px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1120px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 300px 60px 300px 60px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";
    }

    .cursos h3 {
        font-size: 30px;
        width: 100%;
        margin-top: 20px;
    }
    
    .curso-img {
        height: 280px;
    }

    .detalles-style {
        font-size: 20px;
    }
}


/*Media queries Contacto*/

@media only screen and (max-width: 599px) {
    .contacto-redes h5 {
        font-size: 15px;
    }

    .contacto-redes a {
        font-size: 12px;
    }

    .contacto-icons {
        padding: 10px;
        border-radius: 50%;
        font-size: 15px;
        margin-right: 8px; 
    }
}


/*Media queries Ubicación*/

@media only screen and (max-width: 749px) {
    .ubicacion-iconos {
        margin-right: 5px;
        margin-left: 20px;
        font-size: 15px;
    }

    .ubicacion-elementos h5 {
        font-size: 14px;
        margin-right: 20px;
    }

    .mapa {
        height: 200px;
        width: 300px;
    }

    .ubicacion {
        font-size: 30px;
    }

    .ubicacion-general {
        margin-bottom: 30px;
    }
}


/*Media queries Footer*/

@media only screen and (min-width: 377px) and (max-width: 611px){
    .footer-ul {
        margin-right: 30px;
    }
}