/*Estilos del Nav*/
.logo {
    width: 60%;
}

.nav-style {
    background-color: #d3b899;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.nav-right {
    justify-content: right;
}

.nav-space {
    padding-right: 5%;
}

.item-space {
    margin-left: 20px;
}


/*Página Inicio*/

body {
    background-color: #f6e7d6;
}

.font {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 30px;
}

.pagina-inicio {
    margin-top: 30px;
}

.tipos {
    height: 300px; 
}

.productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.links {
 display: flex;
 font-size: 20px;
 justify-content: center;
 text-decoration: none;
 color: black;
}

.links:hover {
    color: rgb(252, 135, 40);
}

/*Página Tienda*/

.grid-container {
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-rows: 80px 50px 320px 25px 100px 320px 25px 100px 320px 25px;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: 
    "bienvenidos bienvenidos bienvenidos bienvenidos"
    "amigurumis amigurumis amigurumis amigurumis"
    "ami1 ami2 ami3 ami4"
    "det1 det2 det3 det4"
    "sweaters sweaters sweaters sweaters"
    "swe1 swe2 swe3 swe4"
    "det5 det6 det7 det8"
    "accesorios accesorios accesorios accesorios"
    "acc1 acc2 acc3 acc4"
    "det9 det10 det11 det12";
    
}

.grid-img {
    height: 300px;
}

.bienvenidos {
    grid-area: bienvenidos;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container h3 {
 font-size: 33px;
 font-family: "Lato", sans-serif;
 font-weight: 900;
 font-style: normal;
 color: black;
}

.amigurumis {
    grid-area: amigurumis;
    margin-left: 15px;
    display: flex;
    align-items: end;
    color: black;
}

.ami1 {
    grid-area: ami1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det1 {
    grid-area: det1;
    display: flex;
    justify-content: center;
    
}

.ami2 {
    grid-area: ami2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det2 {
    grid-area: det2;
    display: flex;
    justify-content: center;
}

.ami3 {
    grid-area: ami3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det3 {
    grid-area: det3;
    display: flex;
    justify-content: center;
}

.ami4 {
    grid-area: ami4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det4 {
    grid-area: det4;
    display: flex;
    justify-content: center;
}

.sweaters {
    grid-area: sweaters;
    margin-left: 15px;
    display: flex;
    align-items: end;
    color: black;
}

.swe1 {
    grid-area: swe1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det5 {
    grid-area: det5;
    display: flex;
    justify-content: center;
}

.swe2 {
    grid-area: swe2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det6 {
    grid-area: det6;
    display: flex;
    justify-content: center;
}

.swe3 {
    grid-area: swe3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det7 {
    grid-area: det7;
    display: flex;
    justify-content: center;
}

.swe4 {
    grid-area: swe4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det8 {
    grid-area: det8;
    display: flex;
    justify-content: center;
}

.accesorios {
    grid-area: accesorios;
    margin-left: 15px;
    display: flex;
    align-items: end;
    color: black;
}

.acc1 {
    grid-area: acc1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det9 {
    grid-area: det9;
    display: flex;
    justify-content: center;
}

.acc2 {
    grid-area: acc2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det10 {
    grid-area: det10;
    display: flex;
    justify-content: center;
}

.acc3 {
    grid-area: acc3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det11 {
    grid-area: det11;
    display: flex;
    justify-content: center;
}

.acc4 {
    grid-area: acc4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det12 {
    grid-area: det12;
    display: flex;
    justify-content: center;
}




/*Página Cursos*/

.portada-cursos {
    width: 100%;
}

.grid-container {
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "cursos cursos"
    "curso1 curso2"
    "detalles1 detalles2";
}

.cursos {
    grid-area: cursos;
}

.cursos h3 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.curso-uno {
    grid-area: curso1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.curso-dos {
    grid-area: curso2;
    display: flex;
    align-content: center;
    justify-content: center;
}

.detalles-uno {
    grid-area: detalles1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.detalles-dos {
    grid-area: detalles2;
    display: flex;
    align-content: center;
    justify-content: center;
}

.curso-img {
    height: 300px;
}



/*Medias Queries*/

/*Mobile*/
@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 200px 50px 200px 50px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";
    }

    .cursos h3 {
        font-size: 20px;
        width: 100%;
        margin-top: 20px;
        
    }
    
    .curso-img {
        height: 190px;
    }

    .detalles-style {
        font-size: 15px;
    }
}


/*Tablets*/
@media only screen and (min-width: 601px) and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 260px 50px 260px 50px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";
    }

    .cursos h3 {
        font-size: 25px;
        width: 100%;
        margin-top: 20px;
    }
    
    .curso-img {
        height: 230px;
    }

    .detalles-style {
        font-size: 18px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1120px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 300px 60px 300px 60px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";
    }

    .cursos h3 {
        font-size: 30px;
        width: 100%;
        margin-top: 20px;
    }
    
    .curso-img {
        height: 280px;
    }

    .detalles-style {
        font-size: 20px;
    }
}


/*Página Contacto*/

.portada-contacto {
    width: 100%;
}

.contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 33px;
    margin-top: 20px;
    color: black;
}

.icons-contacto {
    color: #684f2f;
    background-color: #d3b899;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 15px;
}

.icons-contacto:hover {
    color: #d3b899;
    background-color: #684f2f;
}

.general-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.general-contacto h5 {
    margin-right: 15px;
}

.redes-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
}

@media only screen and (max-width: 599px) {
    .redes-contacto h5 {
        font-size: 15px;
    }

    .redes-contacto a {
        font-size: 12px;
    }

    .icons-contacto {
        padding: 10px;
        border-radius: 50%;
        font-size: 15px;
        margin-right: 8px; 
    }
}



/*Página Ubicación*/

.general-ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.elementos-ubicacion {
    display: flex;
    margin-top: 20px;
}

.iconos-ubicacion {
    margin-right: 20px;
    font-size: 30px;
    color: #522f02;
}



@media only screen and (max-width: 749px) {
    .iconos-ubicacion {
        margin-right: 5px;
        margin-left: 20px;
        font-size: 15px;
    }

    .elementos-ubicacion h5 {
        font-size: 14px;
        margin-right: 20px;
    }

    .mapa {
        height: 200px;
        width: 300px;
    }

    .ubicacion {
        font-size: 30px;
    }

    .general-ubicacion {
        margin-bottom: 30px;
    }
}

































/*Estilos del footer*/
footer {
    background-color: #b89465;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 1%;

}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo-footer {
    height: 100px;
}


.footer-li {
    list-style-type: none;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
}

.menu-footer {
    color: black;
    text-decoration: none;
}

.menu-footer:hover {
    color: #522f02;
    margin-left: 5px;
}


.links-footer {
    color: black;
    background-color: lightpink;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.links-footer:hover {
    color: white;
    background-color: rgb(97, 97, 97);
}

.iconos-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon-style {
    padding: 10px;
    font-size: 20px;
    background-color: #d3b899;
    border-radius: 50%;
    color: #684f2f;
}

.icon-style:hover {
    color: #d3b899;
    background-color: #684f2f;
}


