@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/global";

.tienda-bienvenidos {
    display: flex;
    justify-content: center;
}

.tienda-clases {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;

    .tienda-productos {
        margin-right: 15px;
        margin-left: 15px;

        img {
            height: 300px;
            transition-duration: 1s;

            &:hover {
                height: 325px;
                transition: all 1s;
            }
        }

        h5 {
            display: flex;
            justify-content: center;
            margin-top: 5px;
            margin-bottom: 30px;
        }
    }

}

h4 {
    margin-left: 20px;
    margin-bottom: 20px;
}