/*Media queries Desktop*/

@media only screen and (max-width: 1400px) {

    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 5px;
                margin-left: 5px;
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {

    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-bottom: 30px;
            }
        }
    }



    /*CURSOS*/
    .grid-container {
        

        .cursos {
            grid-area: cursos;
            margin-top: 5px;

            h1 {
                font-size: 35px;
            }
        }

        .curso-img {
            height: 250px;
        }

        .curso-uno {
            grid-area: curso1;
        }

        .detalles-uno {
            grid-area: detalles1;

            h5 {
                font-size: 18px;
            }

        }

        .curso-dos {
            grid-area: curso2;
        }
        
        .detalles-dos {
            grid-area: detalles2;

            h5 {
                font-size: 18px;
            }

        }
    }
}


/*Media queries Tablet*/

@media only screen and (max-width: 992px) {

    /*HEADER*/
    .navbar {
        .nav-style {
            .header-logo {
                height: 80px;
            }
        }
    }



    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 15px;
                margin-left: 15px;
                margin-bottom: 30px;
            }
        }
    }



    /*CURSOS*/
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 45px 200px 50px 200px 50px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";

        .cursos {
            grid-area: cursos;

            h1 {
                font-size: 25px;
                margin-top: 5px;
            }
        }

        .curso-img {
            height: 200px;
        }

        .curso-uno {
            grid-area: curso1;
        }

        .detalles-uno {
            grid-area: detalles1;

            h5 {
                font-size: 18px;
            }

        }

        .curso-dos {
            grid-area: curso2;
        }
        
        .detalles-dos {
            grid-area: detalles2;

            h5 {
                font-size: 18px;
            }

        }
    }

}

@media only screen and (max-width: 768px) {

    /*HEADER*/
    .navbar {
        .nav-style {
            .header-logo {
                height: 80px;
            }
        }
    }



    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 15px;
                margin-left: 15px;
                margin-bottom: 30px;
            }
        }
    }



    /*TIENDA*/
    .tienda-productos {
        margin-left: 10px;
        margin-right: 10px;
    }



    /*CURSOS*/
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 45px 200px 50px 200px 50px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";

        .cursos {
            grid-area: cursos;

            h1 {
                font-size: 25px;
                margin-top: 5px;
            }
        }

        .curso-img {
            height: 200px;
        }

        .curso-uno {
            grid-area: curso1;
        }

        .detalles-uno {
            grid-area: detalles1;

            h5 {
                font-size: 18px;
            }

        }

        .curso-dos {
            grid-area: curso2;
        }
        
        .detalles-dos {
            grid-area: detalles2;

            h5 {
                font-size: 18px;
            }

        }
    }



    /*UBICACIÓN*/
    .ubicacion {
        font-size: 30px;
        margin-top: 10px;
    }
    
    .mapa {
        width: 100%;
    }
    
    .ubicacion-elementos {
        margin-left: 10px;
        margin-right: 10px;
        
        .ubicacion-iconos {
            font-size: 15px !important; 
            margin-right: 5px !important;
        }

        h5 {
            font-size: 15px;
        }
    }
}


/*Media queries Mobile*/

@media only screen and (max-width: 576px) {

    /*HEADER*/
    .navbar {
        .nav-style {
            .header-logo {
                height: 80px;
            }
        }
    }



    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 15px;
                margin-left: 15px;
                margin-bottom: 30px;    
            }
        }
    }



    /*TIENDA*/
    .tienda-bienvenidos {
        margin-left: 10px;
        margin-bottom: 15px;
        h1 {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
    }

    .tienda-productos {
        margin-left: 15px;
        margin-right: 15px;
        img {
            height: 280px;
            transition: none !important;
            transition-duration: none !important;

            &:hover {
                transition: none !important;
            }
        }
    }



    /*CURSOS*/
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 45px 200px 50px 200px 50px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";

        .cursos {
            grid-area: cursos;
            

            h1 {
                font-size: 20px;
                margin-top: 5px;
            }
        }

        .curso-img {
            height: 200px;
        }

        .curso-uno {
            grid-area: curso1;
        }

        .detalles-uno {
            grid-area: detalles1;

            h5 {
                font-size: 15px;
            }

        }

        .curso-dos {
            grid-area: curso2;
        }
        
        .detalles-dos {
            grid-area: detalles2;

            h5 {
                font-size: 15px;
            }

        }
    }

    

    /*CONTACTO*/
    .contacto-general {

        .contactanos {
            font-size: 30px;
        }
     
        .contacto-redes {

            a {
                font-size: 12px;
            }

            .contacto-icons {
                font-size: 15px !important;
                padding: 8px !important;
            }

            h5 {
                font-size: 25px !important;
                margin-right: 20px;
            }

            p {
                font-size: 12px;
            }

        }
        
    }



    /*UBICACIÓN*/
    .ubicacion {
        font-size: 22px;
        margin-top: 10px;
    }
    
    .mapa {
        width: 100%;
    }
    
    .ubicacion-elementos {
        margin-left: 10px;
        margin-right: 10px;
        
        .ubicacion-iconos {
            font-size: 15px !important; 
            margin-right: 5px !important;
        }

        h5 {
            font-size: 15px;
        }
    }

}


@media only screen and (max-width: 415px) {

    /*HEADER*/
    .navbar {
        .nav-style {
            .header-logo {
                height: 80px;
            }
        }
    }



    /*INICIO*/
    .productos-titulo {
        h1 {
            font-size: 28px;
        }
    }

    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 8px;
                margin-left: 8px;
                margin-bottom: 30px;

                .tipos {
                    height: 200px;

                    &:hover {
                        height: 220px;
                    }
                }
            }
        }
    }



    /*TIENDA*/
    .tienda-bienvenidos {
        margin-left: 10px;
        

        .tienda-h1 {
            font-size: 25px;
        }
    }

    h4 {
        font-size: 20px;
    }



    /*CURSOS*/
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 45px 150px 50px 150px 50px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";

        .cursos {
            grid-area: cursos;
            

            h1 {
                font-size: 18px;
                margin-top: 5px;
            }
        }

        .curso-img {
            height: 150px;
        }

        .curso-uno {
            grid-area: curso1;
        }

        .detalles-uno {
            grid-area: detalles1;

            h5 {
                font-size: 12px;
            }

        }

        .curso-dos {
            grid-area: curso2;
        }
        
        .detalles-dos {
            grid-area: detalles2;

            h5 {
                font-size: 12px;
            }

        }
    }



    /*CONTACTO*/
    .contacto-general {

        .contactanos {
            font-size: 30px;
        }
     
        .contacto-redes {

            a {
                font-size: 12px;
            }

            .contacto-icons {
                font-size: 15px !important;
                padding: 8px !important;
            }

            h5 {
                font-size: 25px !important;
                margin-right: 20px;
            }

            p {
                font-size: 12px;
            }

        }
        
    }



    /*UBICACIÓN*/
    .ubicacion {
        font-size: 22px;
        margin-top: 10px;
    }
    
    .mapa {
        width: 100%;
    }
    
    .ubicacion-elementos {
        margin-left: 10px;
        margin-right: 10px;
        
        .ubicacion-iconos {
            font-size: 15px !important; 
            margin-right: 5px !important;
        }

        h5 {
            font-size: 15px;
        }
    }

    /*FOOTER*/
    .footer-container {
        padding-right: 20px;
    }
}
