/*Media queries Desktop*/

@media only screen and (max-width: 1400px) {

    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 5px;
                margin-left: 5px;
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {

    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-bottom: 30px;
            }
        }
    }
}


/*Media queries Tablet*/

@media only screen and (max-width: 992px) {

    /*HEADER*/
    .navbar {
        .nav-style {
            .header-logo {
                height: 80px;
            }
        }
    }

    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 15px;
                margin-left: 15px;
                margin-bottom: 30px;
            }
        }
    }

}

@media only screen and (max-width: 768px) {

    /*HEADER*/
    .navbar {
        .nav-style {
            .header-logo {
                height: 80px;
            }
        }
    }

    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 15px;
                margin-left: 15px;
                margin-bottom: 30px;
            }
        }
    }

}


/*Media queries Mobile*/

@media only screen and (max-width: 576px) {

    /*HEADER*/
    .navbar {
        .nav-style {
            .header-logo {
                height: 80px;
            }
        }
    }

    /*INICIO*/
    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 15px;
                margin-left: 15px;
                margin-bottom: 30px;    
            }
        }
    }

    /*TIENDA*/
    .tienda-bienvenidos {
        margin-bottom: 15px;
        h1 {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
    }


}


@media only screen and (max-width: 415px) {

    /*HEADER*/
    .navbar {
        .nav-style {
            .header-logo {
                height: 80px;
            }
        }
    }

    /*INICIO*/
    h1 {
        font-size: 25px;
    }

    .pagina-inicio {
        .productos {
            .productos-img {
                margin-right: 8px;
                margin-left: 8px;
                margin-bottom: 30px;

                .tipos {
                    height: 200px;

                    &:hover {
                        height: 250px;
                    }
                }
            }
        }
    }

    /*TIENDA*/
    .tienda-bienvenidos {
        margin-bottom: 15px;

        h1 {
            font-size: 25px;
        }
    }

    h4 {
        font-size: 20px;
    }

    /*CURSOS*/
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 150px 20px 150px 20px;
        grid-template-areas: 
        "cursos"
        "curso1"
        "detalles1"
        "curso2"
        "detalles2";

        .cursos {
            h1 {
                font-size: 18px;
                margin-top: 5px;
            }
        }

        .curso-img {
            height: 120px;
        }

        .detalles-uno {
            h5 {
                font-size: 15px;
            }

        }

        .detalles-dos {
            h5 {
                font-size: 15px;
                margin-top: 25px;
            }

        }
    }

}