@import '../utilities/variables';
@import '../utilities/media-queries';

.navbar {
    padding: 0;
    margin-bottom: 5px;

    .nav-style {
        background-color: #d3b899;
        font-family: $font;
        font-size: 20px;
    
        .header-logo {
            height: 100px;
        }
    
        .nav-space {
            justify-content: right;
            padding-right: 5%;
    
            .item-space {
                margin-left: 20px;
            }
        }
    
    }
    
}
